
form.search-box {
  outline: 0;
  float: right;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form.search-box > .textbox {
  outline: 0;
  height: 35px;
  width: 244px;
  line-height: 35px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form.search-box > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form.search-box > .button {
  outline: 0;
  background: none;
  background-color: #5f788a;
          /*rgba(38, 50, 56, 0.8);*/
  float: left;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form.search-box > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}