{% extends 'blog/base.html' %}
{% load static %}

{% block jQuery %}
  <script>
    $(document).ready(function () {

        function updateColor(comment_pk){

            $.ajax({
                url: 'liked_or_disliked_comment',
                data: {
                  'comment_pk': comment_pk
                },
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    if (data.liked || data.disliked) {
                       $(".cen-like.active."+data.id).css('border-bottom', '3px solid rgb(6, 95, 212)');
                    } else {
                        $(".cen-like.active."+data.id).css('border-bottom', '2px solid rgb(144, 144, 144)');
                    }
                    if (data.liked){
                        $(".my_thumps_icon.up.active."+data.id).css('color', 'rgb(6, 95, 212)');
                    } else {
                        $(".my_thumps_icon.up.active."+data.id).css('color', 'rgb(144, 144, 144)');
                    }
                    if (data.disliked) {
                        $(".my_thumps_icon.down.active."+data.id).css('color', 'rgb(6, 95, 212)');
                    } else {
                        $(".my_thumps_icon.down.active."+data.id).css('color', 'rgb(144, 144, 144)');
                    }

                }, error: function(error){
                  console.log(error);
                  console.log("error")
                }
            });
        }

        $(".like-btn").click(function () {
            var this_ = $(this);
            var comment = this_.attr("data-comment");
            console.log('like comment with id: ', comment);

            $.ajax({
                url: 'like_comment',
                data: {
                  'comment_pk': comment
                },
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    $("#like-number_"+data.id).val(data.likes_count);
                    $("#dislike-number_"+data.id).val(data.dislikes_count);
                    updateColor(data.id)

                }, error: function(error){
                  console.log(error);
                  console.log("error")
                }
            });

        });

        $(".dislike-btn").click(function () {
            var this_ = $(this);
            var comment = this_.attr("data-comment");
            console.log('dislike comment with id: ', comment);

            $.ajax({
                url: 'dislike_comment',
                data: {
                  'comment_pk': comment
                },
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    $("#dislike-number_"+data.id).val(data.dislikes_count);
                    $("#like-number_"+data.id).val(data.likes_count);
                    updateColor(data.id)

                }, error: function(error){
                  console.log(error);
                  console.log("error")
                }
            });

        });

    });
  </script>
{% endblock %}

{% block content %}

<style>
  .post-body img {
    width: 100%;
  }
</style>

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ post.image.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in post.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  <div>
{#                    <a href="{% url 'post-update' pk=post.pk %}">Update</a>#}
{#                    <a href="{% url 'post-delete' pk=post.pk %}">Delete</a>#}
                  </div>
                </div>
                <h1>{{ post.title }}
                    {% if request.user.is_authenticated %}
                        {% if is_saved %}
                            <a href="{% url 'un_save_post' post.id %}"><i class="fa fa-bookmark"></i></a>
                        {% else %}
                            <a href="{% url 'save_post' post.id %}"><i class="fa fa-bookmark-o"></i></a>
                        {% endif %}
                    {% endif %}
                </h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <a href="{% url 'user-posts' post.author.username %}" class="author d-flex align-items-center flex-wrap">
                        <div class="avatar"><img src="{{ post.author.profile.image.url }}" alt="..." class="img-fluid"></div>
                        <div class="title"><span>{{ post.author.username }}</span></div>
                    </a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ post.date_posted|timesince }} ago</div>
                    <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  {{ post.content | safe }}
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                </div>
                    {% if object.author == user %}
                      <div>
                        <button class="my_btn1"><a href="{% url 'post-update' object.id %}"><i style='font-size:30px;color:#868E96' class="material-icons">mode_edit</i></a></button>
                        <button class="my_btn2"><a href="{% url 'post-delete' object.id %}"><i style='font-size:24px;color:#868E96;' class='fas'>&#xf2ed;</i></a></button>
                      </div>
                    {% endif %}
              </div>
            </div>
          </div>
        </main>

        <aside class="col-lg-4 post blog-post">

            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
              </header>
              {% for comment in post.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <a href="{% url 'user-posts' comment.user.username %}" class="image">
                          {% if comment.user %}
                          <img src="{{ comment.post.author.profile.image.url }}" alt="..." class="img-fluid rounded-circle">
                          {% else %}
                          <img src="{% static 'blog/static_in_env/img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                          {% endif %}
                        </a>
                        <div class="title my_div_outer">
                            <strong>{{ comment.user.username }}
                                {% if request.user.is_authenticated and request.user == comment.user %}
                                <a href="{% url 'delete_comment' post.pk comment.pk%}" onclick="return confirm('Are you sure you want to delete this comment?')"><i style='color:rgba(220, 53, 69, 0.9);' class='fas'>&#xf2ed;</i></a>
                                {% endif %}
                            </strong>
                            <span class="date">{{ comment.timestamp|timesince }} ago</span>
                        </div>

                      </div>

                    </div>
                    <div class="comment-body">
                      <p>{{ comment.content }}</p>
                        <div class="like_dislike">
                            {% if request.user.is_authenticated %}
                                <a class="like_dislike">
                                    {% if do_like_comments.pop or do_dislike_comments.pop %}
                                        <div class="cen-like blue-border active {{ comment.id }}">
                                            {% if do_like_comments2.pop %}
                                                <button class="like-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                    <i class="my_thumps_icon up blue active {{ comment.id }} material-icons">&#xe8dc;</i>
                                                </button>
                                                <input id="like-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.like_comment_count }}">

                                                <button class="dislike-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                    <i class="my_thumps_icon down black active {{ comment.id }} material-icons">&#xe8db;</i>
                                                </button>
                                                <input id="dislike-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.dislike_comment_count }}">
                                            {% else %}
                                                <button class="like-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                    <i class="my_thumps_icon up black active {{ comment.id }} material-icons">&#xe8dc;</i>
                                                </button>
                                                <input id="like-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.like_comment_count }}">

                                                <button class="dislike-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                    <i class="my_thumps_icon down blue active {{ comment.id }} material-icons">&#xe8db;</i>
                                                </button>
                                                <input id="dislike-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.dislike_comment_count }}">
                                            {% endif %}
                                        </div>
                                    {% elif not do_like_comments2.pop%}
                                        <div class="cen-like black-border active {{ comment.id }}">
                                            <button class="like-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                <i class="my_thumps_icon up black active {{ comment.id }} material-icons">&#xe8dc;</i>
                                            </button>
                                            <input id="like-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.like_comment_count }}">

                                            <button class="dislike-btn my_thumps_btn" data-comment='{{ comment.id }}'>
                                                <i class="my_thumps_icon down black active {{ comment.id }} material-icons">&#xe8db;</i>
                                            </button>
                                            <input id="dislike-number_{{ comment.id }}" class="my_num_input" type="button" value="{{ comment.dislike_comment_count }}">
                                        </div>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a class="like_dislike">
                                    <div class="cen-like">
                                        <button class="my_thumps_btn">
                                            <i class="my_thumps_icon black material-icons">&#xe8dc;</i>
                                        </button>
                                        <input class="my_num_input" type="button" value="{{ comment.like_comment_count }}">

                                        <button class="my_thumps_btn">
                                            <i class="my_thumps_icon black material-icons">&#xe8db;</i>
                                        </button>
                                        <input class="my_num_input" type="button" value="{{ comment.dislike_comment_count }}">
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                  </div>
              {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="add-comment">
              <header>
                <h3 class="h6">add a comment</h3>
              </header>
              <form method="POST" action="." class="commenting-form">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-12">
                    {{ form }}
                  </div>
                  <div class="form-group col-md-12">
                     <button type="submit" class="btn btn-secondary">Submit Comment</button>
                  </div>
                </div>
              </form>
            </div>
            {% else %}
            <a href="{% url 'login_for_comment' post.pk %}" class="btn btn-primary">Login to comment</a>
            {% endif %}
        </aside>

      </div>
    </div>
{% endblock content %}