{% extends "blog/base.html" %}
{% block content %}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
            <div class="alert alert-info">
                Your password has been set.
            </div>
            <a href="{% url 'login' %}">Sign In Here</a>
        </div>
      </div>
    </main>

{% endblock content %}
